CloudCommerceProApiClient/Service References/CloudCommercePro.ProductRanges/CCPApiProductRangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="wcfproductranges.cloudcommercepro.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCPApiProductRangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_CCPProductRanges_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="wcfproductranges.cloudcommercepro.com" location="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductRangeService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_CCPProductRanges" type="i0:CCPProductRanges">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/addProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductRanges">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getProductRanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeletedProductRanges">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getDeletedProductRanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductRangeById">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getProductRangeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/updateProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setManufacturerSKU">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setName">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNeckShape">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setNeckShape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEndOfLine">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setEndOfLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPreOrder">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setPreOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLastStockCheck">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setLastStockCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGroupBy">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setGroupBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWarehousePickOrder">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setWarehousePickOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatus">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/deleteProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRangeOptionLink">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/addRangeOptionLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRangeOptionLink">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/removeRangeOptionLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_CCPProductRanges" type="i0:CCPProductRanges">
    <wsp:PolicyReference URI="#BasicHttpsBinding_CCPProductRanges_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/addProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductRanges">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getProductRanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeletedProductRanges">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getDeletedProductRanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductRangeById">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/getProductRangeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/updateProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setManufacturerSKU">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setName">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNeckShape">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setNeckShape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEndOfLine">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setEndOfLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPreOrder">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setPreOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLastStockCheck">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setLastStockCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGroupBy">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setGroupBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWarehousePickOrder">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setWarehousePickOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatus">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/setStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProductRange">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/deleteProductRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRangeOptionLink">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/addRangeOptionLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRangeOptionLink">
      <soap:operation soapAction="wcfproductranges.cloudcommercepro.com/CCPProductRanges/removeRangeOptionLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCPApiProductRangeService">
    <wsdl:port name="BasicHttpBinding_CCPProductRanges" binding="tns:BasicHttpBinding_CCPProductRanges">
      <soap:address location="http://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductRangeService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_CCPProductRanges" binding="tns:BasicHttpsBinding_CCPProductRanges">
      <soap:address location="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductRangeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>