CloudCommerceProApiClient/Service References/CloudCommercePro.OrderReturns/CcpApiOrderReturnsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOutstandingReturns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfInt32">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Content" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOutstandingReturnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOutstandingReturnsResult" type="tns:ResponseObjectOfListOfOrderReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfListOfOrderReturn">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:ArrayOfOrderReturn" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderReturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderReturn" nillable="true" type="tns:OrderReturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderReturn">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExternalRef" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderCountryID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderCountry" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SalesChannelID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChannelName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChannelType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelCountryID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChannelCountry" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NoOfProducts" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalItemsReturned" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfReturnItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfReturnItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnItem" nillable="true" type="tns:ReturnItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnItem">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SalesChannelID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SalesChannel" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderItemID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductRangeID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductRange" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductSKU" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductFullName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnsID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Returns" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reason" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnCodeID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnStatusCodeID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReturnStatus" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="NetAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="VATAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="GrossAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfApiFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiFault" nillable="true" type="tns:ApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApiFault">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RequestNodeIndex" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ccpApiErrorCodeType" type="tns:ErrorCodeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Detail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ElementName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FaultType" type="tns:CCPApiFaultType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ErrorCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidBrandID" />
      <xs:enumeration value="InvalidID" />
      <xs:enumeration value="RecordAlreadyExists" />
      <xs:enumeration value="MissingRequiredData" />
      <xs:enumeration value="ObjectNotFound" />
      <xs:enumeration value="GeneralException" />
      <xs:enumeration value="InvalidData" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCPApiFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AuthenticationFault" />
      <xs:enumeration value="AuthorizationFault" />
      <xs:enumeration value="ValidationFault" />
      <xs:enumeration value="General" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetReturns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfOrderReturnsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfOrderReturnsQuery">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:OrderReturnsQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderReturnsQuery">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetReturnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReturnsResult" type="tns:ResponseObjectOfListOfOrderReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>