CloudCommerceProApiClient/Service References/CloudCommercePro.Products/CCPApiProductsService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCPServicesBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCPServicesBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>