CloudCommerceProApiClient/Service References/CloudCommercePro.Products/CCPAPIProductsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCPAPIProductsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICCPAPIProductsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCPServicesBase" />
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebServicesCommonLibrary" />
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CCPInterface.Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouses" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouseBays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseBays" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouseBays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseBaysResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetActiveStockFromBay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveStockFromBay" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetActiveStockFromBay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveStockFromBayResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetActiveStockForProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveStockForProducts" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetActiveStockForProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveStockForProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouseBaysForProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseBaysForProduct" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetWarehouseBaysForProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseBaysForProductResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddStockToBay_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStockToBay" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddStockToBay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStockToBayResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_MoveStockToBay_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveStockToBay" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_MoveStockToBay_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveStockToBayResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_RemoveStockFromBay_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStockFromBay" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_RemoveStockFromBay_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStockFromBayResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_ReleaseMovementsForOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseMovementsForOrder" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_ReleaseMovementsForOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseMovementsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_TestCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCredentials" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_TestCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetStockLevelsBySKUList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevelsBySKUList" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_GetStockLevelsBySKUList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevelsBySKUListResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddMultiPack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMultiPack" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddMultiPack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMultiPackResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_SetProductOptionValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProductOptionValues" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_SetProductOptionValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProductOptionValuesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByID" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByExternalProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByExternalProductId" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByExternalProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByExternalProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByManufacturerSKU_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByManufacturerSKU" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByManufacturerSKU_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByManufacturerSKUResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByBarcode" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductByBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setName_InputMessage">
    <wsdl:part name="parameters" element="tns:setName" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setName_OutputMessage">
    <wsdl:part name="parameters" element="tns:setNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:setDescription" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:setDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setManufacturerSKU_InputMessage">
    <wsdl:part name="parameters" element="tns:setManufacturerSKU" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setManufacturerSKU_OutputMessage">
    <wsdl:part name="parameters" element="tns:setManufacturerSKUResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setVatRateID_InputMessage">
    <wsdl:part name="parameters" element="tns:setVatRateID" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setVatRateID_OutputMessage">
    <wsdl:part name="parameters" element="tns:setVatRateIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:setPrice" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:setPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setBarCode_InputMessage">
    <wsdl:part name="parameters" element="tns:setBarCode" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setBarCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:setBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setAdditionalBarcodes_InputMessage">
    <wsdl:part name="parameters" element="tns:setAdditionalBarcodes" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setAdditionalBarcodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:setAdditionalBarcodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_deleteAdditionalBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAdditionalBarcode" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_deleteAdditionalBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAdditionalBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setProductRangeID_InputMessage">
    <wsdl:part name="parameters" element="tns:setProductRangeID" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setProductRangeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:setProductRangeIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setPreOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:setPreOrder" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setPreOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:setPreOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setEndOfLine_InputMessage">
    <wsdl:part name="parameters" element="tns:setEndOfLine" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setEndOfLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:setEndOfLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setLength_InputMessage">
    <wsdl:part name="parameters" element="tns:setLength" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:setLengthResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setWidth_InputMessage">
    <wsdl:part name="parameters" element="tns:setWidth" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setWidth_OutputMessage">
    <wsdl:part name="parameters" element="tns:setWidthResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setHeight_InputMessage">
    <wsdl:part name="parameters" element="tns:setHeight" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setHeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:setHeightResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setExternalProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:setExternalProductId" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setExternalProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:setExternalProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevel" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevelBySKU_InputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevelBySKU" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevelBySKU_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevelBySKUResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevelByProductCode_InputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevelByProductCode" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStockLevelByProductCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStockLevelByProductCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_BatchStockUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchStockUpdates" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_BatchStockUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchStockUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_BatchSupplierPriceUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchSupplierPriceUpdates" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_BatchSupplierPriceUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchSupplierPriceUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStatusID_InputMessage">
    <wsdl:part name="parameters" element="tns:setStatusID" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setStatusID_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStatusIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_addStockTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:addStockTransaction" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_addStockTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStockTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProductImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductImage" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProductImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProductImageByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductImageByUrl" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddProductImageByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductImageByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductImages_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductImages" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getProductImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductImagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_deleteProductImage_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteProductImage" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_deleteProductImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddSalesChannelLink_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesChannelLink" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddSalesChannelLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesChannelLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddSalesChannelLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesChannelLinks" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_AddSalesChannelLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesChannelLinksResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getActiveSalesChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:getActiveSalesChannels" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_getActiveSalesChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActiveSalesChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setSupplierCost_InputMessage">
    <wsdl:part name="parameters" element="tns:setSupplierCost" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_setSupplierCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:setSupplierCostResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_SetShopBarCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SetShopBarCode" />
  </wsdl:message>
  <wsdl:message name="ICCPAPIProductsService_SetShopBarCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetShopBarCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCPAPIProductsService">
    <wsdl:documentation>&lt;summary&gt;
             test comment here
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="GetWarehouses">
      <wsdl:documentation>&lt;summary&gt;
            Gets list of Warehouses
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehouses" message="tns:ICCPAPIProductsService_GetWarehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehousesResponse" message="tns:ICCPAPIProductsService_GetWarehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBays">
      <wsdl:documentation>&lt;summary&gt;
            Gets list of Warehouses
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBays" message="tns:ICCPAPIProductsService_GetWarehouseBays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBaysResponse" message="tns:ICCPAPIProductsService_GetWarehouseBays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockFromBay">
      <wsdl:documentation>&lt;summary&gt;
            Gets active stock in a given warehouse bay
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetActiveStockFromBay" message="tns:ICCPAPIProductsService_GetActiveStockFromBay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetActiveStockFromBayResponse" message="tns:ICCPAPIProductsService_GetActiveStockFromBay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockForProducts">
      <wsdl:documentation>&lt;summary&gt;
            Gets active stock in a given warehouse bay
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetActiveStockForProducts" message="tns:ICCPAPIProductsService_GetActiveStockForProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetActiveStockForProductsResponse" message="tns:ICCPAPIProductsService_GetActiveStockForProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBaysForProduct">
      <wsdl:documentation>&lt;summary&gt;
            Gets Warehouse Bays for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBaysForProduct" message="tns:ICCPAPIProductsService_GetWarehouseBaysForProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBaysForProductResponse" message="tns:ICCPAPIProductsService_GetWarehouseBaysForProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStockToBay">
      <wsdl:documentation>&lt;summary&gt;
            Adds stock to a warehouse bay
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddStockToBay" message="tns:ICCPAPIProductsService_AddStockToBay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddStockToBayResponse" message="tns:ICCPAPIProductsService_AddStockToBay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveStockToBay">
      <wsdl:documentation>&lt;summary&gt;
            Moves stock from one  warehouse bay to another
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/MoveStockToBay" message="tns:ICCPAPIProductsService_MoveStockToBay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/MoveStockToBayResponse" message="tns:ICCPAPIProductsService_MoveStockToBay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStockFromBay">
      <wsdl:documentation>&lt;summary&gt;
            Removes stock from a warehouse bay
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/RemoveStockFromBay" message="tns:ICCPAPIProductsService_RemoveStockFromBay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/RemoveStockFromBayResponse" message="tns:ICCPAPIProductsService_RemoveStockFromBay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseMovementsForOrder">
      <wsdl:documentation>&lt;summary&gt;
            Releases all stock movements for an order, only to be used if a pick is cancelled
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/ReleaseMovementsForOrder" message="tns:ICCPAPIProductsService_ReleaseMovementsForOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/ReleaseMovementsForOrderResponse" message="tns:ICCPAPIProductsService_ReleaseMovementsForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="value"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetData" message="tns:ICCPAPIProductsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetDataResponse" message="tns:ICCPAPIProductsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="composite"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetDataUsingDataContract" message="tns:ICCPAPIProductsService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetDataUsingDataContractResponse" message="tns:ICCPAPIProductsService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <wsdl:documentation>&lt;summary&gt;
            Basic Authentication Detais Test
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[(RequestObject&lt;string&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/TestCredentials" message="tns:ICCPAPIProductsService_TestCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/TestCredentialsResponse" message="tns:ICCPAPIProductsService_TestCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockLevelsBySKUList">
      <wsdl:documentation>&lt;summary&gt;
            Gets Stock Level Summary for List of Products based on SKU
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetStockLevelsBySKUList" message="tns:ICCPAPIProductsService_GetStockLevelsBySKUList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/GetStockLevelsBySKUListResponse" message="tns:ICCPAPIProductsService_GetStockLevelsBySKUList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:documentation>&lt;summary&gt;
            Adds a Product to Cloud Commerce Pro
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;int&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProduct" message="tns:ICCPAPIProductsService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProductResponse" message="tns:ICCPAPIProductsService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMultiPack">
      <wsdl:documentation>&lt;summary&gt;
            Adds a Multipack Product to Cloud Commerce Pro
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIAddMultiPackRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddMultiPack" message="tns:ICCPAPIProductsService_AddMultiPack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddMultiPackResponse" message="tns:ICCPAPIProductsService_AddMultiPack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProductOptionValues">
      <wsdl:documentation>&lt;summary&gt;
            Updates selected Option Values for a given Product e.g. change Colour from White to Black
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[(RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/SetProductOptionValues" message="tns:ICCPAPIProductsService_SetProductOptionValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/SetProductOptionValuesResponse" message="tns:ICCPAPIProductsService_SetProductOptionValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <wsdl:documentation>&lt;summary&gt;
             Gets a Product by ID
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;int&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByID" message="tns:ICCPAPIProductsService_getProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByIDResponse" message="tns:ICCPAPIProductsService_getProductByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:documentation>&lt;summary&gt;
            Gets a List of Products
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductGetProductListRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ ResponseObject&lt;APIProductList&gt; ]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProducts" message="tns:ICCPAPIProductsService_getProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductsResponse" message="tns:ICCPAPIProductsService_getProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByExternalProductId">
      <wsdl:documentation>&lt;summary&gt;
            Gets a Product by External Product ID (external system reference)
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;string&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByExternalProductId" message="tns:ICCPAPIProductsService_getProductByExternalProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByExternalProductIdResponse" message="tns:ICCPAPIProductsService_getProductByExternalProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByManufacturerSKU">
      <wsdl:documentation>&lt;summary&gt;
            Gets a Product by ManufacturerSKU (SKU)
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;string&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByManufacturerSKU" message="tns:ICCPAPIProductsService_getProductByManufacturerSKU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByManufacturerSKUResponse" message="tns:ICCPAPIProductsService_getProductByManufacturerSKU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByBarcode">
      <wsdl:documentation>&lt;summary&gt;
            Gets a Product by Barcode
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;string&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByBarcode" message="tns:ICCPAPIProductsService_getProductByBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductByBarcodeResponse" message="tns:ICCPAPIProductsService_getProductByBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setName">
      <wsdl:documentation>&lt;summary&gt;
            Sets Name of a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setName" message="tns:ICCPAPIProductsService_setName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setNameResponse" message="tns:ICCPAPIProductsService_setName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setDescription">
      <wsdl:documentation>&lt;summary&gt;
            Sets Product Description
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setDescription" message="tns:ICCPAPIProductsService_setDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setDescriptionResponse" message="tns:ICCPAPIProductsService_setDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setManufacturerSKU">
      <wsdl:documentation>&lt;summary&gt;
            Sets (SKU) ManufacturerSKU on a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setManufacturerSKU" message="tns:ICCPAPIProductsService_setManufacturerSKU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setManufacturerSKUResponse" message="tns:ICCPAPIProductsService_setManufacturerSKU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setVatRateID">
      <wsdl:documentation>&lt;summary&gt;
            Sets VAT RateID for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ ResponseObject&lt;bool&gt; ]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setVatRateID" message="tns:ICCPAPIProductsService_setVatRateID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setVatRateIDResponse" message="tns:ICCPAPIProductsService_setVatRateID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setPrice">
      <wsdl:documentation>&lt;summary&gt;
            Sets Base Price for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setPrice" message="tns:ICCPAPIProductsService_setPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setPriceResponse" message="tns:ICCPAPIProductsService_setPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setBarCode">
      <wsdl:documentation>&lt;summary&gt;
            Sets a Product Barcode
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setBarCode" message="tns:ICCPAPIProductsService_setBarCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setBarCodeResponse" message="tns:ICCPAPIProductsService_setBarCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setAdditionalBarcodes">
      <wsdl:documentation>&lt;summary&gt;
            Sets Additional Barcodes for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setAdditionalBarcodes" message="tns:ICCPAPIProductsService_setAdditionalBarcodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setAdditionalBarcodesResponse" message="tns:ICCPAPIProductsService_setAdditionalBarcodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAdditionalBarcode">
      <wsdl:documentation>&lt;summary&gt;
            Deletes Additional Barcodes for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductDeleteAdditionalBarcodeRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/deleteAdditionalBarcode" message="tns:ICCPAPIProductsService_deleteAdditionalBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/deleteAdditionalBarcodeResponse" message="tns:ICCPAPIProductsService_deleteAdditionalBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setProductRangeID">
      <wsdl:documentation>&lt;summary&gt;
            Sets ProductRangeID on a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setProductRangeID" message="tns:ICCPAPIProductsService_setProductRangeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setProductRangeIDResponse" message="tns:ICCPAPIProductsService_setProductRangeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setPreOrder">
      <wsdl:documentation>&lt;summary&gt;
            Sets Pre Order Flag on a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setPreOrder" message="tns:ICCPAPIProductsService_setPreOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setPreOrderResponse" message="tns:ICCPAPIProductsService_setPreOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setEndOfLine">
      <wsdl:documentation>&lt;summary&gt;
            Sets End Of Line flag on a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setEndOfLine" message="tns:ICCPAPIProductsService_setEndOfLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setEndOfLineResponse" message="tns:ICCPAPIProductsService_setEndOfLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setLength">
      <wsdl:documentation>&lt;summary&gt;
            Sets Length for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setLength" message="tns:ICCPAPIProductsService_setLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setLengthResponse" message="tns:ICCPAPIProductsService_setLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setWidth">
      <wsdl:documentation>&lt;summary&gt;
            Sets Width for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setWidth" message="tns:ICCPAPIProductsService_setWidth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setWidthResponse" message="tns:ICCPAPIProductsService_setWidth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setHeight">
      <wsdl:documentation>&lt;summary&gt;
            Sets Height for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setHeight" message="tns:ICCPAPIProductsService_setHeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setHeightResponse" message="tns:ICCPAPIProductsService_setHeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setExternalProductId">
      <wsdl:documentation>&lt;summary&gt;
            Sets External Product Reference
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setExternalProductId" message="tns:ICCPAPIProductsService_setExternalProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setExternalProductIdResponse" message="tns:ICCPAPIProductsService_setExternalProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStockLevel">
      <wsdl:documentation>&lt;summary&gt;
             Sets Product Stock Level
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductStockTransaction&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;int&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevel" message="tns:ICCPAPIProductsService_setStockLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevelResponse" message="tns:ICCPAPIProductsService_setStockLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStockLevelBySKU">
      <wsdl:documentation>&lt;summary&gt;
             Sets Product Stock Level
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductStockTransaction&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ ResponseObject&lt;int&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevelBySKU" message="tns:ICCPAPIProductsService_setStockLevelBySKU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevelBySKUResponse" message="tns:ICCPAPIProductsService_setStockLevelBySKU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStockLevelByProductCode">
      <wsdl:documentation>&lt;summary&gt;
            Sets Product Stock Level
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductStockTransaction&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ ResponseObject&lt;int&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevelByProductCode" message="tns:ICCPAPIProductsService_setStockLevelByProductCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStockLevelByProductCodeResponse" message="tns:ICCPAPIProductsService_setStockLevelByProductCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchStockUpdates">
      <wsdl:documentation>&lt;summary&gt;
            Adds multiple Product Stock Updates to be processed
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[(RequestObject&lt;APIBulkUpdateStockRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/BatchStockUpdates" message="tns:ICCPAPIProductsService_BatchStockUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/BatchStockUpdatesResponse" message="tns:ICCPAPIProductsService_BatchStockUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchSupplierPriceUpdates">
      <wsdl:documentation>&lt;summary&gt;
            Adds multiple Supplier Price Updates to be processed
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIBulkSupplierPriceUpdateRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/BatchSupplierPriceUpdates" message="tns:ICCPAPIProductsService_BatchSupplierPriceUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/BatchSupplierPriceUpdatesResponse" message="tns:ICCPAPIProductsService_BatchSupplierPriceUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStatusID">
      <wsdl:documentation>&lt;summary&gt;
            Updates StatusID for a Product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProduct&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;bool&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStatusID" message="tns:ICCPAPIProductsService_setStatusID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setStatusIDResponse" message="tns:ICCPAPIProductsService_setStatusID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStockTransaction">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductStockTransaction&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;int&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/addStockTransaction" message="tns:ICCPAPIProductsService_addStockTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/addStockTransactionResponse" message="tns:ICCPAPIProductsService_addStockTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductImage">
      <wsdl:documentation>&lt;summary&gt;
            Adds an Image to a Product with image data stored as Base64 encoded string
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductImage&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;int&gt; ]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProductImage" message="tns:ICCPAPIProductsService_AddProductImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProductImageResponse" message="tns:ICCPAPIProductsService_AddProductImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductImageByUrl">
      <wsdl:documentation>&lt;summary&gt;
            Adds an Image to a Product by passing url of image
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductImage&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;int&gt; ]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProductImageByUrl" message="tns:ICCPAPIProductsService_AddProductImageByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddProductImageByUrlResponse" message="tns:ICCPAPIProductsService_AddProductImageByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductImages">
      <wsdl:documentation>&lt;summary&gt;
            Gets List of Product Images
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;int&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;List&lt;APIProductImage&gt;&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductImages" message="tns:ICCPAPIProductsService_getProductImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getProductImagesResponse" message="tns:ICCPAPIProductsService_getProductImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteProductImage">
      <wsdl:documentation>&lt;summary&gt;
            Deletes a Product Image
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;int&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/deleteProductImage" message="tns:ICCPAPIProductsService_deleteProductImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/deleteProductImageResponse" message="tns:ICCPAPIProductsService_deleteProductImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLink">
      <wsdl:documentation>&lt;summary&gt;
            Links a Product to a Sales Channel e.g. List this Product on my UK Amazon Channel
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductSalesChannelLink&gt;]]&gt;&lt;/param&gt;
            &lt;remarks&gt;If passing with SKU then set ProductID to 0&lt;/remarks&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLink" message="tns:ICCPAPIProductsService_AddSalesChannelLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLinkResponse" message="tns:ICCPAPIProductsService_AddSalesChannelLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLinks">
      <wsdl:documentation>&lt;summary&gt;
            Unavailable
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLinks" message="tns:ICCPAPIProductsService_AddSalesChannelLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLinksResponse" message="tns:ICCPAPIProductsService_AddSalesChannelLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActiveSalesChannels">
      <wsdl:documentation>&lt;summary&gt;
            Returns a list of Active Sales Channels
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[(RequestObject&lt;string&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;List&lt;APISalesChannel&gt;&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getActiveSalesChannels" message="tns:ICCPAPIProductsService_getActiveSalesChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/getActiveSalesChannelsResponse" message="tns:ICCPAPIProductsService_getActiveSalesChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setSupplierCost">
      <wsdl:documentation>&lt;summary&gt;
            Updates the supplier cost for a product
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APIProductSupplierLink&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;decimal&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setSupplierCost" message="tns:ICCPAPIProductsService_setSupplierCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/setSupplierCostResponse" message="tns:ICCPAPIProductsService_setSupplierCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetShopBarCode">
      <wsdl:documentation>&lt;summary&gt;
            updates a barcode on a shop variation
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;![CDATA[RequestObject&lt;APISetShoBarCodeRequest&gt;]]&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;![CDATA[ResponseObject&lt;APIProduct&gt;]]&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPAPIProductsService/SetShopBarCode" message="tns:ICCPAPIProductsService_SetShopBarCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPAPIProductsService/SetShopBarCodeResponse" message="tns:ICCPAPIProductsService_SetShopBarCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICCPAPIProductsService" type="tns:ICCPAPIProductsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWarehouses">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBays">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockFromBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetActiveStockFromBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockForProducts">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetActiveStockForProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBaysForProduct">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBaysForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStockToBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddStockToBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveStockToBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/MoveStockToBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStockFromBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/RemoveStockFromBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseMovementsForOrder">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/ReleaseMovementsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockLevelsBySKUList">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetStockLevelsBySKUList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMultiPack">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddMultiPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProductOptionValues">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/SetProductOptionValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByExternalProductId">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByExternalProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByManufacturerSKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByBarcode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setName">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescription">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setManufacturerSKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVatRateID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setVatRateID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPrice">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBarCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAdditionalBarcodes">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setAdditionalBarcodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAdditionalBarcode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/deleteAdditionalBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProductRangeID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setProductRangeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPreOrder">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setPreOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEndOfLine">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setEndOfLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLength">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWidth">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setWidth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHeight">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setHeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExternalProductId">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setExternalProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevel">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevelBySKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevelBySKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevelByProductCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevelByProductCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchStockUpdates">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/BatchStockUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSupplierPriceUpdates">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/BatchSupplierPriceUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStatusID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStockTransaction">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/addStockTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductImage">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductImageByUrl">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProductImageByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductImages">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProductImage">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/deleteProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLink">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLinks">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveSalesChannels">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getActiveSalesChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSupplierCost">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setSupplierCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetShopBarCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/SetShopBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICCPAPIProductsService" type="tns:ICCPAPIProductsService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICCPAPIProductsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWarehouses">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBays">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockFromBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetActiveStockFromBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveStockForProducts">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetActiveStockForProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseBaysForProduct">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetWarehouseBaysForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStockToBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddStockToBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveStockToBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/MoveStockToBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStockFromBay">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/RemoveStockFromBay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseMovementsForOrder">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/ReleaseMovementsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockLevelsBySKUList">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/GetStockLevelsBySKUList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMultiPack">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddMultiPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProductOptionValues">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/SetProductOptionValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByExternalProductId">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByExternalProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByManufacturerSKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByBarcode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductByBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setName">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescription">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setManufacturerSKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setManufacturerSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVatRateID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setVatRateID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPrice">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setBarCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAdditionalBarcodes">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setAdditionalBarcodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAdditionalBarcode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/deleteAdditionalBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProductRangeID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setProductRangeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPreOrder">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setPreOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEndOfLine">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setEndOfLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLength">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWidth">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setWidth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHeight">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setHeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExternalProductId">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setExternalProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevel">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevelBySKU">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevelBySKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStockLevelByProductCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStockLevelByProductCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchStockUpdates">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/BatchStockUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSupplierPriceUpdates">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/BatchSupplierPriceUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusID">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setStatusID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStockTransaction">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/addStockTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductImage">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductImageByUrl">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddProductImageByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductImages">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getProductImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProductImage">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/deleteProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLink">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesChannelLinks">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/AddSalesChannelLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveSalesChannels">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/getActiveSalesChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSupplierCost">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/setSupplierCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetShopBarCode">
      <soap:operation soapAction="http://tempuri.org/ICCPAPIProductsService/SetShopBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCPAPIProductsService">
    <wsdl:port name="BasicHttpBinding_ICCPAPIProductsService" binding="tns:BasicHttpBinding_ICCPAPIProductsService">
      <soap:address location="http://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICCPAPIProductsService" binding="tns:BasicHttpsBinding_ICCPAPIProductsService">
      <soap:address location="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiProductsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>