CloudCommerceProApiClient/Service References/CloudCommercePro.Payments/CCPApiPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCPApiPaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICCPApiPaymentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiPaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCPApiPaymentService_getBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccounts" />
  </wsdl:message>
  <wsdl:message name="ICCPApiPaymentService_getBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPApiPaymentService_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="ICCPApiPaymentService_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ICCPApiPaymentService_TestCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCredentials" />
  </wsdl:message>
  <wsdl:message name="ICCPApiPaymentService_TestCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCPApiPaymentService">
    <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="getBankAccounts">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPApiPaymentService/getBankAccounts" message="tns:ICCPApiPaymentService_getBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPApiPaymentService/getBankAccountsResponse" message="tns:ICCPApiPaymentService_getBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPApiPaymentService/CreatePayment" message="tns:ICCPApiPaymentService_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPApiPaymentService/CreatePaymentResponse" message="tns:ICCPApiPaymentService_CreatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <wsdl:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/ICCPApiPaymentService/TestCredentials" message="tns:ICCPApiPaymentService_TestCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCPApiPaymentService/TestCredentialsResponse" message="tns:ICCPApiPaymentService_TestCredentials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICCPApiPaymentService" type="tns:ICCPApiPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBankAccounts">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/getBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/CreatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICCPApiPaymentService" type="tns:ICCPApiPaymentService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICCPApiPaymentService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBankAccounts">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/getBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/CreatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="http://tempuri.org/ICCPApiPaymentService/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCPApiPaymentService">
    <wsdl:port name="BasicHttpBinding_ICCPApiPaymentService" binding="tns:BasicHttpBinding_ICCPApiPaymentService">
      <soap:address location="http://devwcfccpservicesbase.cloudcommercepro.com/CCPApiPaymentService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICCPApiPaymentService" binding="tns:BasicHttpsBinding_ICCPApiPaymentService">
      <soap:address location="https://devwcfccpservicesbase.cloudcommercepro.com/CCPApiPaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>