CloudCommerceProApiClient/Service References/CloudCommercePro.ProductOptions/CCPApiProductOptionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="wcfproductoptions.cloudcommercepro.com" elementFormDefault="qualified" targetNamespace="wcfproductoptions.cloudcommercepro.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:ServiceRequestObjectOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceRequestObjectOfString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestObjectOfString" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestObjectOfString">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TestCredentialsResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfBoolean">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Content" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfApiFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiFault" nillable="true" type="tns:ApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApiFault">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RequestNodeIndex" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ccpApiErrorCodeType" type="tns:ErrorCodeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Detail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ElementName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FaultType" type="tns:CCPApiFaultType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ErrorCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidBrandID" />
      <xs:enumeration value="InvalidID" />
      <xs:enumeration value="RecordAlreadyExists" />
      <xs:enumeration value="MissingRequiredData" />
      <xs:enumeration value="ObjectNotFound" />
      <xs:enumeration value="GeneralException" />
      <xs:enumeration value="InvalidData" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCPApiFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AuthenticationFault" />
      <xs:enumeration value="AuthorizationFault" />
      <xs:enumeration value="ValidationFault" />
      <xs:enumeration value="General" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="addProductOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfAPIProductOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="APIProductOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionEbayName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionAmazonName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionWebName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptionSortOrder" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptionType" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Master" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Hidden" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addProductOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="addProductOptionResult" type="tns:ResponseObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfAPIProductOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductOption" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getProductOptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfInt32">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Content" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getProductOptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getProductOptionByIdResult" type="tns:ResponseObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableProductOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableProductOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getAvailableProductOptionsResult" type="tns:ResponseObjectOfListOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfListOfAPIProductOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:ArrayOfAPIProductOption" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAPIProductOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIProductOption" nillable="true" type="tns:APIProductOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="setOptionName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionNameResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionEbayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionEbayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionEbayNameResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionAmazonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionAmazonNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionAmazonNameResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionWebName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionWebNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionWebNameResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionPriorityResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionMasterResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProductOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProductOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deleteProductOptionResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionStatusResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionHidden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOptionHiddenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setOptionHiddenResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeletedProductOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeletedProductOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getDeletedProductOptionsResult" type="tns:ResponseObjectOfListOfAPIProductOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOptionValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfAPIProductRangeOptionValue">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductRangeOptionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="APIProductRangeOptionValue">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptionID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptionSortOrder" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addOptionValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="addOptionValueResult" type="tns:ResponseObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfInt32">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Content" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateOptionValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOptionValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="updateOptionValueResult" type="tns:ResponseObjectOfAPIProductRangeOptionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfAPIProductRangeOptionValue">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductRangeOptionValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getOptionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOptionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getOptionValuesResult" type="tns:ResponseObjectOfListOfAPIProductRangeOptionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseObjectOfListOfAPIProductRangeOptionValue">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:ArrayOfAPIProductRangeOptionValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfApiFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAPIProductRangeOptionValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIProductRangeOptionValue" nillable="true" type="tns:APIProductRangeOptionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addProductLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfAPIProductLink">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="APIProductLink">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ProductID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptionID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValueID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addProductLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="addProductLinkResult" type="tns:ResponseObjectOfInt32" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setGroupBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestObjectOfAPIProductRangeOptionLink">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecurityHash" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:APIProductRangeOptionLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="APIProductRangeOptionLink">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OptionID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProductRangeID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsWebShopFilter" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsWebShopSelect" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsWebShopGroupBy" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsEbayOption" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsEbayImageOption" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsAmazonOption" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsAmazonImageOption" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="setGroupByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setGroupByResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setSelectResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setWebShopFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setWebShopFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setWebShopFilterResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEbayOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEbayOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setEbayOptionResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAmazonOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestObjectOfAPIProductRangeOptionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAmazonOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="setAmazonOptionResult" type="tns:ResponseObjectOfBoolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>